* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
  --warning: #ef7f1b;
  --white: #fff;
  --muted: #332a2b;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  min-height: 100vh;
  line-height: 2.4rem;
  font-family: Helvetica, sans-serif;
  font-style: normal;
}

img{
  display: block; 
  max-width: 100%;
}

ul{
  list-style-type: none;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.7rem;
}
h2 {
  font-size: 2.8rem;
  line-height: 2.3rem;
}
h3 {
  font-size: 2.8rem;
  line-height: 2.3rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
}

@media (min-width: 35em) {
  .container {
    padding-inline: 6.4rem;
  }
}

@import '@/styles/nav';
@import '@/styles/footer';
@import '@/styles/home';
@import '@/styles/card';
@import '@/styles/cart';
@import '@/styles/currency';
@import '@/styles/shop';
@import '@/styles/single';
@import '@/styles/gallery';
@import '@/styles/checkout';
@import '@/styles/input';