@media(min-width: 35em){

  footer {
    background-color: #300205;
    padding-block: 2.4rem;
  
    h3 {
      border-left: solid 0.2rem var(--warning);
      color: var(--warning);
      padding-left: 1.6rem;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 2.4rem;
    }
  
    & > div {
      display: flex;
      flex-wrap: wrap;
      & > div {
        flex: 10rem 1 1;
      }
  
      & > div:nth-of-type(1) {
        ul {
          li {
            color: var(--white);
            display: flex;
            gap: 1.2rem;
            margin-bottom: 1.6rem;
            align-items: center;
          }
        }
      }
  
      & > div:nth-of-type(2) {
        ul {
          li {
            a {
              color: white;
              text-decoration: none;
              display: flex;
              gap: 1.2rem;
              align-items: center;
              &:hover {
                color: var(--warning);
              }
            }
            margin-bottom: 1.6rem;
          }
        }
      }
  
      & > div:nth-of-type(3) {
        svg {
          color: var(--white);
          width: 1.6rem;
          height: 1.6rem;
  
          padding: 1.2rem;
          margin-right: 2.4rem;
          margin-bottom: 1.6rem;
        }
        img {
          width: 25rem;
          height: 12rem;
          border-radius: 1.2rem;
          padding: 1.2rem;
          border: solid 0.1rem white;
  
        }
      }
    }
  
    & > div:nth-of-type(2) {
      color: white;
      margin-top: 5.6rem;
      display: flex;
      justify-content: center;
    }
  }
  



}



@media(max-width: 35em){
  footer {
    background-color: #300205;
    padding: 1.6rem;
  
    h3 {
      border-left: solid 0.2rem var(--warning);
      color: var(--warning);
      padding-left: 1.6rem;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 2.4rem;
    }
  
    & > div {
     

  
      & > div:nth-of-type(1) {
        margin-bottom: 8rem;
        ul {
          li {
            color: var(--white);
            display: flex;
            gap: 1.2rem;
            margin-bottom: 1.6rem;
            align-items: center;
          }
        }
      }
  
      & > div:nth-of-type(2) {
        margin-bottom: 8rem;
        ul {
          li {
            a {
              color: white;
              text-decoration: none;
              display: flex;
              gap: 1.2rem;
              align-items: center;
              &:hover {
                color: var(--warning);
              }
            }
            margin-bottom: 1.6rem;
          }
        }
      }
  
      & > div:nth-of-type(3) {
        margin-bottom: 8rem;
        svg {
          color: var(--white);
          width: 1.6rem;
          height: 1.6rem;
  
          padding: 1.2rem;
          margin-right: 2.4rem;
          margin-bottom: 1.6rem;
        }
        img {
          width: 14rem;
          height: 12rem;
          border-radius: 1.2rem;
          padding: 1.2rem;
          border: solid 0.1rem white;
  
        }
      }
    }
  
    & > div:nth-of-type(2) {
      color: white;
      margin-top: 5.6rem;
      display: flex;
      justify-content: center;
    }
  }
  
}